#each lines defines files, directories and the codeowners
MOVEAHEAD @parth141093
ColorDetector.java @parth141093
DataExchange.java @parth141093 
GoAhead.java @parth@141093
ObstecleDetector.java parth@141093
